<!DOCTYPE html>

<html>


	<head>

		<title>Jean Noteris / Antoine Teboulle Summary</title>

		<link rel="stylesheet" type="text/css" href="/css/Home.css" media="all"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	</head>

	<body background="https://cdn.glitch.com/38b3d561-f00f-4e02-99c7-79a6f6e98038%2Fimagefond.jpg?1536241683553">

		<ul>

   		 	<li><a href="/">Home</a></li>
        <li><a href="/Questionnaire">Questionnaire</a></li>
        <li><a href="/Register">Register</a></li>
        <li><a href="/Login">Login</a></li>
     		<li style="float:right"><a class="active" href="/Contact">About</a></li>
			
		</ul> 

		<br>
		<br>
		<br>
		<br>

		<h1>Hi ! And welcome on our website !</h1>

		<div id="intro">

			<h2>You will find here informations about our work and who we are.</h2>

		</div>

		<br>
		<br>
		<br>

		<div id="text">

			<p>This website have been made by your servitor : ME !

				<br>

				The objective is to tell YOU if you are a good or a bad person !

				<br>

				You can click on questionnaire to begin the test. If you want to try it several times just give us your credit card number to promote you as a V.I.P.

				<br>
				
				HAVE FUN !

			</p>

		</div>

  </body>


</html>