<!DOCTYPE html>

   <html>

   	<head>

   		<title>Jean Noteris / Antoine Teboulle Summary</title>

   		<link rel="stylesheet" type="text/css" href="/css/Login.css" media="all"/>

   	</head>

   	<body background="https://cdn.glitch.com/38b3d561-f00f-4e02-99c7-79a6f6e98038%2Fimagefond.jpg?1536241683553">

      <ul>

   		   <li><a href="/">Home</a></li>
     		 <li><a href="/Questionnaire">Questionnaire</a></li> 
         <li><a href="/Register">Register</a></li>
         <li><a href="/Login">Login</a></li>
         <li style="float:right"><a class="active" href="/Contact">About</a></li>
        
      </ul>

         <br><br><br><br>

         <style>
            p { color: #FF0000; }
            label { color: #FF0000; }
         </style>

     		<p>Please enter your personal informations :</p>

         <br>

      <form method="post" onsubmit="return verifPassword(this)">
      
   		<label for="prenom">Login :</label>  
   			<input type="text" name="prenom" id="prenom" placeholder="" size="30" maxlength="20" required="" onblur="verifPseudo(this)"/>

   		<br><br>

   		<label for="password">Password :</label>
   			<input type="password" name="password" id="password" placeholder="" size="30" maxlength="20" required="" onblur="verifPassword(this)"/>
            
         <br><br><br>

         <input type="submit" value="Submit">

      </form>
        
   	</body>	

   	<script>

   		function FocusFonction() {
      			document.getElementById("focus").value = "";
   		}
   		
   		function FocusoutFonction() {
   			
   			if (document.getElementById("focus").value == ""){
      				document.getElementById("focus").value ="Entrez votre texte ici..." ;
   			}
   		}

   		function surligne(champ, erreur){
      			if(erreur)
         			champ.style.backgroundColor = "#fba";
      			else
         			champ.style.backgroundColor = "";
   			}

   		function verifPseudo(champ){

      			if(champ.value.length < 2 || champ.value.length > 25){
         			surligne(champ, true);
         			return false;
      			}
               
      			else{
         			surligne(champ, false);
         			return true;
      			}
   		}
   		
      function verifPassword(champ){

            if(champ.password.value == ''){
               alert('Tous les champs ne sont pas remplis');
               champ.password.focus();
               surligne(champ, true);
               return false;
            }
           
            else {
               champ.password.focus();
               return false;
            }
      }
      
   		function verifForm(f){

      		var pseudoOk = verifPseudo(f.pseudo);

      
      			if(pseudoOk)
         			
         			return true;
      			
      			else
      			{
         			alert("You must fill all the boxes");
         			return false;
      			}
   		}

   	</script>

   </html>